<div class="item-sheet-content">
  <header class="sheet-header">
    <img class="profile-img" src="{{img}}" data-edit="img" data-tooltip="{{name}}" />
    <div class="header-col">
      <h1 class="charname">
        <input name="name" type="text" value="{{name}}" placeholder="Name" />
      </h1>
    </div>
  </header>
  <section class="sheet-body">
    <div class="flexrow">
      <div class="stats">
        <label class="form-group">
          <span class="form-label">{{localize 'OSE.items.Cost'}}</span>
          <div class="form-fields">
            <input
              type="text"
              name="system.cost"
              value="{{system.cost}}"
              data-dtype="Number"
            />
          </div>
        </label>
        {{#unless (eq @root.config.encumbrance 'itembased')}}
        <label class="form-group">
          <span class="form-label">{{localize 'OSE.items.Weight'}}</span>
          <div class="form-fields">
            <input
              type="text"
              name="system.weight"
              value="{{system.weight}}"
              data-dtype="Number"
            />
          </div>
        </label>
        {{else}}
        <label class="form-group">
          <span class="form-label" data-tooltip="OSE.items.ItemBasedEncumbranceLong" aria-label="{{localize 'OSE.items.ItemBasedEncumbranceLong'}}">
            {{localize 'OSE.items.ItemBasedEncumbrance'}}
          </span>
          <div class="form-fields">
            <input
              type="text"
              name="system.itemslots"
              value="{{system.itemslots}}"
              data-dtype="Number"
            />
          </div>
        </label>
        {{/unless}}
      </div>
      <div class="description">
        {{#if editable}}
        <prose-mirror name="system.description" toggled="true" button="true" value="{{system.description}}">{{{enriched.description}}}</prose-mirror>
        {{else}}
        <div class="editor-content">{{{enriched.description}}}</div>
        {{/if}}
      </div>
    </div>
  </section>
</div>
