<div class="item-sheet-content">
  <header class="sheet-header">
    <img class="profile-img" src="{{img}}" data-edit="img" data-tooltip="{{name}}" />
    <div class="header-col">
      <h1 class="charname">
        <input name="name" type="text" value="{{name}}" placeholder="Name" />
      </h1>
    </div>
  </header>
  <section class="sheet-body">
    <div class="flexrow">
      <div class="stats">
        <label class="form-group">
          <span class="form-label">{{localize 'OSE.spells.Level'}}</span>
          <div class="form-fields">
            <input
              type="text"
              name="system.lvl"
              value="{{system.lvl}}"
              data-dtype="Number"
            />
          </div>
        </label>
        <label class="form-group block-input">
          <span class="form-label">{{localize 'OSE.spells.Class'}}</span>
          <div class="form-fields">
            <input
              type="text"
              name="system.class"
              value="{{system.class}}"
              data-dtype="String"
            />
          </div>
        </label>
        <label class="form-group block-input">
          <span class="form-label">{{localize 'OSE.spells.Duration'}}</span>
          <div class="form-fields">
            <input
              type="text"
              name="system.duration"
              value="{{system.duration}}"
              data-dtype="String"
            />
          </div>
        </label>
        <label class="form-group">
          <span class="form-label">{{localize 'OSE.spells.Range'}}</span>
          <div class="form-fields">
            <input
              type="text"
              name="system.range"
              value="{{system.range}}"
              data-dtype="String"
            />
          </div>
        </label>
        <label class="form-group">
          <span class="form-label">{{localize 'OSE.spells.Save'}}</span>
          <div class="form-fields">
            <select name="system.save">
              <option value=""></option>
              {{selectOptions config.saves_short selected=system.save}}
            </select>
          </div>
        </label>
        <label class="form-group">
          <span class="form-label">{{localize 'OSE.items.Roll'}}</span>
          <div class="form-fields">
            <input
              type="text"
              name="system.roll"
              value="{{system.roll}}"
              data-dtype="String"
            />
          </div>
        </label>
      </div>
      <div class="description">
        {{#if editable}}
        <prose-mirror name="system.description" toggled="true" button="true" value="{{system.description}}">{{{enriched.description}}}</prose-mirror>
        {{else}}
        <div class="editor-content">{{{enriched.description}}}</div>
        {{/if}}
      </div>
    </div>
  </section>
</div>
